[user]
	name = Phil Hagelberg
	email = technomancy@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[github]
	user = technomancy
[rerere]
	enabled = 1
[diff "clojure"]
    xfuncname = "^\\(.*"
