[docs]
row=3
col=0

[burmese_cons.gif]
row=3
col=2

[Wallpapers]
row=4
col=0

[mithc]
row=4
col=1

[3mm.eps]
row=4
col=2

[windows-10-pro.iso]
row=1
col=2

[Downloads]
row=1
col=1

[pop-it.mp4]
row=3
col=1

[6mm.eps]
row=5
col=2

[astar.jpg]
row=0
col=3

[music]
row=1
col=3

[stackexchange]
row=2
col=1

[trek]
row=0
col=1

[others.eps]
row=6
col=2

[KTWG database test 1]
row=6
col=0

[the-hit.mp4]
row=6
col=1

[src]
row=2
col=3

[Babylon_5]
row=5
col=1

[Lauren Ipsum.azw]
row=4
col=3

[Mae Sot & cooking photos]
row=5
col=0

[Maildir]
row=5
col=3

[hebrew.svg]
row=0
col=2

[bin]
row=3
col=3

[Desktop]
row=2
col=2

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

