[docs]
row=2
col=0

[burmese_cons.gif]
row=6
col=1

[Wallpapers]
row=3
col=0

[mithc]
row=1
col=1

[3mm.eps]
row=7
col=1

[6mm.eps]
row=8
col=1

[Downloads]
row=7
col=0

[pop-it.mp4]
row=0
col=1

[astar.jpg]
row=1
col=2

[src]
row=3
col=2

[music]
row=2
col=2

[stackexchange]
row=8
col=0

[trek]
row=6
col=0

[others.eps]
row=0
col=2

[KTWG database test 1]
row=5
col=0

[the-hit.mp4]
row=3
col=1

[Babylon_5]
row=2
col=1

[Lauren Ipsum.azw]
row=6
col=2

[windows-10-pro.iso]
row=4
col=2

[Mae Sot & cooking photos]
row=4
col=0

[Maildir]
row=7
col=2

[hebrew.svg]
row=4
col=1

[bin]
row=5
col=2

[Desktop]
row=5
col=1

[Trash]
row=1
col=0

[Home]
row=0
col=0

